################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chakra/.vs/Chakra/v15
/Chakra/.vs/config
/Chakra.Core/.vs/Chakra.Core/v15
/Chakra.Core/Chakra.Core.Web/bin/Debug/netcoreapp2.2
/Chakra.Core/Chakra.Core.Web/obj/Debug/netcoreapp2.2
/Chakra.Core/Chakra.Core.Web/obj
/Chakra.Core/Framework.Common/Chakra.Framework.Common.Contracts/obj
/Chakra.Core/Framework.Common/Chakra.Framework.Common.Contracts/bin/Debug/netcoreapp2.2
/Chakra.Core/Framework.Common/Chakra.Framework.Common.Model/bin/Debug/netcoreapp2.2
/Chakra.Core/Framework.Common/Chakra.Framework.Common.Model/obj
/Chakra.Core/Framework.Common/Chakra.Framework.Common.Services/bin/Debug/netcoreapp2.2
/Chakra.Core/Framework.Common/Chakra.Framework.Common.Services/obj
/Chakra.Core/Framework.Common/Chakra.Framework.Common.Web.Controllers/obj/Debug/netcoreapp2.2
/Chakra.Core/Framework.Common/Chakra.Framework.Common.Web.Controllers/obj
/core.framework/core/core.common/obj
/core.framework/core/core.contracts/obj
/core.framework/core/core.controllers/obj
/core.framework/core/core.model/obj
/core.framework/core/core.persistence/obj
/core.framework/core/core.repositories/obj
/core.framework/core.masters/core.masters.model/obj
/core.framework/core.web/obj
/core.framework/web/core.web.ui/obj
