################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chakra/.vs/Chakra/v15
/Chakra/.vs/config
/Chakra.Core/.vs/Chakra.Core/v15
/Chakra.Core/Chakra.Core.Web/obj
