################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chakra/.vs/Chakra/v15
/Chakra/.vs/config
